* {
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Koulen', cursive;
}

.header {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container {
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.battingContainer {
    width: 400px;
    height: 800px;
    /* background-color: purple; */
    /* background: url('bat.jpg') no-repeat; */
    /* background-size: 100% 100%; */
    margin-right: 120px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bowlingContainer {
    width: 400px;
    height: 800px;
    /* background-color: red; */
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.battingContainer h1 {
    border-radius: 9px;
    background-color: rgb(223, 255, 170);
    width: 211px;
    padding: 11px;
    border: 2px solid black;
}

.heading {
    margin-bottom: 100px;
}

.textbox {
    border-radius: 5px;
    height: 30px;
    width: 180px;
    font-size: 23px;
    padding-left: 10px;
    margin: 0;
}

.textbox:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.small {
    width: 40px;
    padding: 0;
    margin: 0;
}

.addition {
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
}

.addition:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.performance {
    margin-top: 25px;
    font-size: 30px;
}

.heading h2 {
    margin-top: 20px;
}

.result {
    /* width: 190px;
    height: 50px; */
    width: 0;
    height: 0;
    /* background-color: rgb(118, 255, 118); */
    border-radius: 5px;
    /* font-size: 30px; */
    font-size: 0px;
    border: 2px solid black;
}

.strike {
    width: 100px;
}

.btn {
    width: 100px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

.btn:hover {
    background-color: rgb(255, 211, 255);
    box-shadow: 3px 3px 3px 3px rgb(255, 139, 255);
}

.bowlingContainer h1 {
    border-radius: 9px;
    /* margin-bottom: 120px; */
    background-color: rgb(202, 225, 255);
    width: 211px;
    padding: 11px;
    border: 2px solid black;
}

.bowlResult {
    /* width: 190px;
    height: 50px; */
    width: 0;
    height: 0;
    background-color: rgb(118, 255, 118);
    border-radius: 5px;
    /* font-size: 30px; */
    font-size: 0px;
    border: 2px solid black;
}
