* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    
}

.boxtext {
    font-size: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid black;
}

.box:hover {
    background-color: rgb(193, 193, 250);
}

.gameInfo {
    margin-left: 80px;
}

.players {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}