* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    margin-right: 50px;
    
}

.boxtext {
    font-size: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid black;
}

.box:hover {
    background-color: rgb(193, 193, 250);
}

.gameInfo {
    width: 20vw;
}

.players {
    margin-top: 20px;
    font-size: 0.9vw;
}

.players h2 {
    margin: 15px;
}

.image img {
    /* width: 10vw; */
    width: 0vw;
    margin-top: 70px;
}

.reset {
    width: 5vw;
    height: 1.5vw;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 0.9vw;
    background-color: rgb(236, 227, 255);
}

.reset:hover {
    background-color: rgb(222, 211, 247);
}

.info {
    margin-left: 15px;
    margin-top: 45px;
    font-size: 1vw;
    /* background-color: rgb(255, 219, 219); */
    /* border-radius: 2px;
    padding: 5px; */
}
